body {
background: linear-gradient(180deg, #8F3FDF 0%, rgba(107, 85, 129, 0.24) 100%);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	line-height: 1.6;
        color: black;
	font-size: 18px;
}

.dark-mode {
background: linear-gradient(180deg, #000000 0%, rgba(104, 65, 143, 0) 100%);
  color: white;
}






.dark-mode {
background: linear-gradient(180deg, #000000 0%, rgba(104, 65, 143, 0) 100%);
  color: white;
}

#toggle{
display: none;
}

.button{
display: inline-block;
width: 10px;
height: 35px;
background-color:#fff;
border-radius: 30px;
position: relative;
cursor: pointer;
}

.button::after{
content: url('./images/sun-live.jpg');
width: 10px;
height: 10px; 
background-color: 1#e03c3c;
border: 2px solid #fff;
border-radius: 50%;
box-shadow: 0 0 5px rgba(0, 0, 0, 25); position: absolute;
top: -5px;
left: 0;
display: grid;
place-content: center;
line-height: 0;
transition: background-color 1s, transform 1s ease-in;
}


#toggle:checked + .button::after{
content: url('./images/moon-live.jpg');
width:10px;
height:10px;
background-color: #1f257f;
transform: translatex(50px) rotate(360deg);
}

.CusTTee {

font-family: 'Irish Grover';
font-style: normal;
font-weight: 400;
font-size: 105px;
line-height: 127px;

color: #ffff;
}

.CusTTee1 {

font-family: 'Irish Grover';
font-style: normal;
font-weight: 100;
font-size: 25px;
line-height: 8px;
color: #ffff;
}

#mySidenav a {
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 130px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#Home {
  top: 40px;
  background-color: #04AA6D;
}

#Explore {
  top: 100px;
  background-color: #2196F3;
}

#Exceptionals {
  top: 160px;
  background-color: #f44336;
}

#Contact {
  top: 220px;
  background-color: #555
}


<!-- ----------------------------------------------------------------------- -->

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 40px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
